/* GLOBAL RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: #444;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #e8eaf6;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

/****************
REUSEABLE COMPONENTS
******************** 

*/
.primary-heading {
  text-transform: capitalize;
  font-size: 3.6rem;
}

.secondary-heading {
  font-size: 2.6rem;
}

.tertiary-heading {
  font-size: 1.8rem;
}

.primary-color {
  color: #3f51b5;
}

.secondary-color {
  color: #e8eaf6;
}

.color-dark {
  color: #222;
}

/* GRID SYSTEM */
.grid {
  display: grid;
}
.grid-col-2 {
  grid-template-columns: 20rem 1fr;
}

.grid-col-3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid-col-4 {
  grid-template-columns: repeat(4, 1fr);
}
.grid-row-4 {
  grid-template-rows: repeat(4, 1fr);
  padding: 2rem;
}

/* MARGIN-BOTTOM SYSTEM */
.margin-bottom-1 {
  margin-bottom: 1rem;
}
.margin-bottom-2 {
  margin-bottom: 2rem;
}
.margin-bottom-3 {
  margin-bottom: 3rem;
}
.margin-bottom-4 {
  margin-bottom: 4rem;
}
.margin-bottom-5 {
  margin-bottom: 5rem;
}
.margin-bottom-6 {
  margin-bottom: 6rem;
}
.margin-bottom-7 {
  margin-bottom: 7rem;
}

.dash-header {
  font-size: 2rem;
  font-weight: 50;
  padding: 2rem 0rem 2rem 0rem;
}

.btn {
  border: none;
}

/* FLEX SYSTEM */
.flex {
  display: flex;
}
.search-box {
  display: flex;
  justify-content: end;
  border-radius: 1rem;
  border: 1px;
  padding: 2rem;
  align-items: center;
  gap: 2rem;
}

.search {
  display: inline-block;
  justify-self: flex-end;
  border-radius: 1rem;
  height: 3rem;
  width: 35%;
  border: none;
  background-color: #fff;
  padding: 1rem 2rem;
}

.student-name {
  text-transform: capitalize;
  font-size: 1.6rem;
}

.number {
  font-size: 24px;
  font-weight: 600;
}
.mini-text {
  font-size: small;
}
.big-text {
  font-size: 35px;
  font-weight: 600;
}

.dash-main {
  margin-left: 2rem;
}

.name-font {
  text-transform: capitalize;
  font-size: 15px;
}
