.label {
  display: block;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

/******************************
LOGIN PAGE CSS
****************************** 

*/

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  width: 40%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 4rem;
  border-radius: 1.5rem;
}

.school-name {
  text-transform: capitalize;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.6rem;
}

.login-form {
  width: 100%;
}

.input-group {
  width: 100%;
  margin-bottom: 2rem;
}
.input {
  width: 100%;
  padding: 1rem 1rem;
  border-radius: 1rem;
  background-color: #e8eaf6;
  border: none;
}

.input:focus {
  outline: none;
  border: 2px solid #3f51b5;
}

.login-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3f51b5;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.login-icon {
  font-size: 4.4rem;
  color: #fff;
}

.header-login {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
.forgot-password-box {
  margin-bottom: 2rem;
}

.link:link,
.link:visited {
  text-decoration: none;
  font-size: 1.4rem;
}

.link:hover,
.link:active {
  text-decoration: underline;
}

.btn-login {
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  color: #fff;
  background-color: #3f51b5;
}
.go-student-page {
  padding: 3rem;
  text-align: center;
  justify-content: center;
}

.block {
  column-gap: 2rem;
}

/* DASHBOARD PAGE */

.recent-registration {
  padding: 1rem;
  text-transform: capitalize;
  font-size: 1.6rem;
}

.show {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem 3rem;
  background-color: #fff;
  border-radius: 1rem;
  font-size: 1.6rem;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
}

.recent-item-box {
  background-color: #fff;
  padding: 1rem 2rem;
  border-radius: 1rem;
}
.small-icon {
  margin-left: 5rem;
}
.each-item:not(:last-child) {
  border-bottom: 1px solid #e1e1e1;
}

.each-item {
  padding: 2rem 1rem;
  font-size: 1.6rem;
}

.each-item:hover {
  background-color: #e8eaf6;
}

.aside-bar {
  padding: 3rem;
  background-color: #3f51b5;
  height: 100%;
  color: #fff !important;
  position: fixed;
}
.aside-dash {
  padding: 2rem;
}

.dash-list {
  padding: 1rem;
  text-transform: capitalize;
  font-size: 1.6rem;
  list-style-type: none;
}
.list {
  padding: 0.5rem;
}

.aside-link {
  color: #fff;
}

.student-name-box {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.reg-no {
  color: #979797;
}
.menue {
  border-radius: 50%;
  border: none;
  width: 5rem;
  height: 5rem;
}
.item-status {
  border: 1px solid #979797;
  border-radius: 2rem;
  display: inline-block;
  padding: 0.5rem;
  text-transform: capitalize;
  font-weight: 600;
}
.item-status.claimed {
  background-color: #3f51b5;
  color: #fff;
}

/* REGISTER PAGE */

.register-main {
  padding: 2rem;
  margin-left: 2rem;
}
.detail-header {
  padding: 2rem 0rem 2rem 0rem;
}

.detail-container {
  border: #4444 solid;
  border-radius: 1rem;
  padding: 3rem;
  background-color: #fff;
}

.register-input {
  width: 100%;
  padding: 1rem 1rem;
  border-radius: 1rem;
  background-color: #e1e1e1;
  border: none;
}
.info-container {
  display: flex;
  flex-direction: row;
}
.info-child {
  flex: 50%;
  padding: 2rem;
}
.select-option {
  width: 100%;
  border: 1rem solid #e1e1e1;
  border-radius: 1rem;
  background-color: #e1e1e1;
  font-size: 13px;
}
.textarea {
  width: 100%;
  padding: 3rem;
  border: none;
  border-radius: 1rem;
  background-color: #e1e1e1;
}
.image-container {
  padding: 2rem;
}
.image {
  display: flex;
  justify-content: center;
  border: dashed #979797;
  padding: 10rem;
  border-radius: 1rem;
}

.btn-display {
  display: flex;
  justify-content: end;
}
.btn-register {
  width: 20%;
  padding: 1rem;
  border-radius: 1rem;
  color: #fff;
  background-color: #3f51b5;
}
/* search page */
.search-container {
  padding: 2rem;
}
.search-page {
  display: flex;
  flex-direction: row;
}
.grid-search {
  grid-template-columns: 2fr 1fr;
  column-gap: 5rem;
}
.search-bar {
  border-radius: 1rem;
  padding: 1rem 1rem;
  border: none;
  background-color: #e1e1e1;
  flex: 50%;
}

/* student dashboard */
.header {
  padding: 1.5rem 3rem;
  border-bottom: 0.1rem solid #979797;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.personal {
  font-size: 2rem !important;
  font-weight: 600;
}

.nav-link {
  color: #444;
}

.btn-logout {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: 0.1rem solid #979797;
  border-radius: 0.5rem;
}

/* PERSONAL */
.header-personal {
  font-size: 1.6rem;
}

.cards-container {
  display: flex;
  gap: 2rem;
}

.card {
  background-color: #3f51b5;
  width: 20%;
  display: flex;
  flex-direction: column;
  height: 30rem;
}

.img-item-box {
  width: 100%;
  overflow: hidden;
  height: 70%;
}

.img-item {
  width: 100%;
}
